SERVER_BASE_URL = "http://localhost:3000"

COOKIEPSW = ""

TWITTER_KEY = ""
TWITTER_SECRET = ""

FACEBOOK_KEY = ""
FACEBOOK_SECRET = ""

FITBIT_KEY = ""
FITBIT_SECRET = ""

GOOGLE_KEY = ""
GOOGLE_SECRET = ""

GPLUS_KEY = ""
GPLUS_SECRET = ""

GITHUB_KEY = ""
GITHUB_SECRET = ""

SPOTIFY_KEY = ""
SPOTIFY_SECRET = ""

LINKEDIN_KEY = ""
LINKEDIN_SECRET = ""

LINE_KEY = ""
LINE_SECRET = ""

LASTFM_KEY = ""
LASTFM_SECRET = ""

TWITCH_KEY = ""
TWITCH_SECRET = ""

DROPBOX_KEY = ""
DROPBOX_SECRET = ""

DIGITALOCEAN_KEY = ""
DIGITALOCEAN_SECRET = ""

BITBUCKET_KEY = ""
BITBUCKET_SECRET = ""

INSTAGRAM_KEY = ""
INSTAGRAM_SECRET = ""

INTERCOM_KEY = ""
INTERCOM_SECRET = ""

BOX_KEY = ""
BOX_SECRET = ""

SALESFORCE_KEY = ""
SALESFORCE_SECRET = ""

SEATALK_KEY = ""
SEATALK_SECRET = ""

AMAZON_KEY = ""
AMAZON_SECRET = ""

YAMMER_KEY = ""
YAMMER_SECRET = ""

ONEDRIVE_KEY = ""
ONEDRIVE_SECRET = ""

AZUREAD_KEY = ""
AZUREAD_SECRET = ""

MICROSOFTONLINE_KEY = ""
MICROSOFTONLINE_SECRET = ""

BATTLENET_KEY = ""
BATTLENET_SECRET = ""

EVEONLINE_KEY = ""
EVEONLINE_SECRET = ""

KAKAO_KEY = ""
KAKAO_SECRET = ""

YAHOO_KEY = ""
YAHOO_SECRET = ""

TYPETALK_KEY = ""
TYPETALK_SECRET = ""

SLACK_KEY = ""
SLACK_SECRET = ""

STRIPE_KEY = ""
STRIPE_SECRET = ""

WEPAY_KEY = ""
WEPAY_SECRET = ""

PAYPAL_KEY = ""
PAYPAL_SECRET = ""

STEAM_KEY = ""

HEROKU_KEY = ""
HEROKU_SECRET = ""

UBER_KEY = ""
UBER_SECRET = ""

SOUNDCLOUD_KEY = ""
SOUNDCLOUD_SECRET = ""

GITLAB_KEY = ""
GITLAB_SECRET = ""

DAILYMOTION_KEY = ""
DAILYMOTION_SECRET = ""

DEEZER_KEY = ""
DEEZER_SECRET = ""

DISCORD_KEY = ""
DISCORD_SECRET = ""

MEETUP_KEY = ""
MEETUP_SECRET = ""

AUTH0_KEY = ""
AUTH0_SECRET = ""
AUTH0_DOMAIN = ""

XERO_KEY = ""
XERO_SECRET = ""

VK_KEY = ""
VK_SECRET = ""

NAVER_KEY = ""
NAVER_SECRET = ""

YANDEX_KEY = ""
YANDEX_SECRET = ""

NEXTCLOUD_KEY = ""
NEXTCLOUD_SECRET = ""
NEXTCLOUD_URL = ""

GITEA_KEY = ""
GITEA_SECRET = ""

SHOPIFY_KEY = ""
SHOPIFY_SECRET = ""

APPLE_KEY = ""
APPLE_SECRET = ""

STRAVA_KEY = ""
STRAVA_SECRET = ""

OPENID_CONNECT_KEY = ""
OPENID_CONNECT_SECRET = ""
OPENID_CONNECT_DISCOVERY_URL = ""
