SocialCallbackBaseURL= "http://localhost:8080"
ServerPort = ":8080"
CookieStore = "casualstring"

TwitterKey = ""
TwitterSecret = ""

FacebookKey = ""
FacebookSecret = ""

FitbitKey = ""
FitbitSecret = ""

GoogleKey = ""
GoogleSecret = ""

GplusKey = ""
GplusSecret = ""

GithubKey = ""
GithubSecret = ""

SpotifyKey = ""
SpotifySecret = ""

LinkedinKey = ""
LinkedinSecret = ""

LineKey = ""
LineSecret = ""

LastfmKey = ""
LastfmSecret = ""

TwitchKey = ""
TwitchSecret = ""

DropboxKey = ""
DropboxSecret = ""

DigitaloceanKey = ""
DigitaloceanSecret = ""

BitbucketKey = ""
BitbucketSecret = ""

InstagramKey = ""
InstagramSecret = ""

IntercomKey = ""
IntercomSecret = ""

BoxKey = ""
BoxSecret = ""

SalesforceKey = ""
SalesforceSecret = ""

SeatalkKey = ""
SeatalkSecret = ""

AmazonKey = ""
AmazonSecret = ""

YammerKey = ""
YammerSecret = ""

OnedriveKey = ""
OnedriveSecret = ""

AzureadKey = ""
AzureadSecret = ""

MicrosoftonlineKey = ""
MicrosoftonlineSecret = ""

BattlenetKey = ""
BattlenetSecret = ""

EveonlineKey = ""
EveonlineSecret = ""

KakaoKey = ""
KakaoSecret = ""

YahooKey = ""
YahooSecret = ""

TypetalkKey = ""
TypetalkSecret = ""

SlackKey = ""
SlackSecret = ""

StripeKey = ""
StripeSecret = ""

WepayKey = ""
WepaySecret = ""

PaypalKey = ""
PaypalSecret = ""

SteamKey = ""

HerokuKey = ""
HerokuSecret = ""

UberKey = ""
UberSecret = ""

SoundcloudKey = ""
SoundcloudSecret = ""

GitlabKey  = ""
GitlabSecret = ""

DailymotionKey = ""
DailymotionSecret = ""

DeezerKey = ""
DeezerSecret = ""

DiscordKey = ""
DiscordSecret = ""

MeetupKey = ""
MeetupSecret = ""

Auth0Key = ""
Auth0Secret = ""
Auth0Domain = ""

XeroKey = ""
XeroSecret = ""

VkKey = ""
VkSecret = ""

NaverKey = ""
NaverSecret = ""

YandexKey = ""
YandexSecret = ""

NextcloudKey = ""
NextcloudSecret = ""
NextcloudURL = ""

GiteaKey = ""
GiteaSecret = ""

ShopifyKey = ""
ShopifySecret = ""

AppleKey = ""
AppleSecret = ""

StravaKey = ""
StravaSecret = ""

OpenidConnectKey = ""
OpenidConnectSecret = ""
OpenidConnectDiscoveryURL = ""

[database]
Host = "127.0.0.1"
Port = "5432"
User = "mcmaur"
Password = "A556WvRLP94wWpyOEG^7L6h&6"
DbName = "ms-users"