{{define "title"}}User profile{{end}}

{{define "actions"}}
<a class="nav-item nav-link" href="/logout/{{.Provider}}">Logout</a>
{{end}}



{{define "body"}}
    <div class="row mt-5">
      <div class="col">
        <h3>Hey {{.FirstName}},</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <img class="float-right" src="{{.AvatarURL}}">
      </div>
    </div>

    <div class="row">
      <div class="col">
        Name: {{.Name}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        Email: {{.Email}}
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        NickName: {{.NickName}}
      </div>
    </div>
    
    {{ if (not (eq .Location "")) }}
    <div class="row">
      <div class="col">
        Location: {{.Location}}
      </div>
    </div>
    {{ end }}
    
    {{ if (not (eq .Description "")) }}
    <div class="row">
      <div class="col">
        Description: {{.Description}}
      </div>
    </div>
    {{ end }}


    <div class="row mt-4">
      <div class="col">
        <p>
          <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#devinfos" role="button" aria-expanded="false" aria-controls="collapseExample">
            dev infos
          </a>
        </p>
        <div class="collapse" id="devinfos">
          <div class="card card-body">
            <p>UserID: {{.UserID}}</p>
            <p>AccessToken: {{.AccessToken}}</p>
            <p>ExpiresAt: {{.ExpiresAt}}</p>
            <p>RefreshToken: {{.RefreshToken}}</p>
          </div>
        </div>
      </div>
    </div>


{{end}}